[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/vulkan"]
	path = lib/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "lib/glog"]
	path = lib/glog
	url = https://github.com/google/glog
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "lib/VulkanMemoryAllocator"]
	path = lib/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "lib/Vulkan-Hpp"]
	path = lib/Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/tinyobjloader"]
	path = lib/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "lib/Boxer"]
	path = lib/Boxer
	url = https://github.com/aaronmjacobs/Boxer
[submodule "lib/boxer"]
	path = lib/boxer
	url = https://github.com/aaronmjacobs/Boxer
